<h2>Coupon Form</h2>
<form method="POST" action="/coupons">
    <div>
        <label>Store</label>
        <input type="text" name="coupon[store]" id="store" />
    </div>
        <div>
        <label>Coupon Code</label>
        <input type="text" name="coupon[coupon_code]" id="coupon_code" />
    </div>
 <br>
 
    <input type="submit" id="Submit Coupon"/>
</form>
