<html>
  <body>
    <h1>Coupon Form</h1>
    <form action = "/coupons" method = "POST">
    <div>
      <label> Coupon Code</label>
      <input type = "text" name = "coupon[coupon_code]"/>
    </div>
    
    <div>
      <label> Coupon Store</label>
      <input type = "text" name = "coupon[store]"/>
    </div>
    <input type = "submit" value = "Submit Coupon"/>
    </form>
  </body>
</html>